.hero {
  &__swiper {
    position: relative;
    overflow: hidden;
    .swiper-slide {
      height: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .slide-1 {
      background-image: url('../img/hero/slide-1-1920.png');
    }
    .slide-2 {
      background-image: url('../img/hero/slide-2-1920.png');
    }
    .slide-3 {
      background-image: url('../img/hero/slide-3-1920.png');
    }
    & .swiper-pagination {
      bottom: 20px;
      &-bullet {
        width: 14px;
        height: 14px;
        background: $black;
        opacity: 0.3;
        cursor: pointer;
        &-active {
          opacity: 1;
        }
        &:not(:last-child) {
          margin: 0 8px;
        }
      }
    }
  }
  &__title {
    padding-top: 80px;
    margin-bottom: 49px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: $grey;
    &--one {
      max-width: 496px;
    }
    &--two {
      max-width: 466px;
    }
    &--three {
      max-width: 587px;
      color: $white;
    }
  }
  &__btn {
    padding: 22px 50px;
  }
}

.special {
  padding-top: 70px;
  padding-bottom: 70px;
}

.rating {
  padding-bottom: 70px;
  &__carts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-bottom: 32px;
  }
  .product-cart {
    &.leave-8 {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 22px 36.5px;
  }
}

.banner {
  background: url('../img/hero/slide-3-1920.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__content {
    padding-top: 153px;
    padding-bottom: 150px;
  }
  &__title {
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    color: $gold;
  }
  &__descr {
    margin-bottom: 49px;
    width: 508px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: $white;
  }
  &__btn {
    padding: 22px 31.5px;
  }
}

.category {
  &__title {
    padding-top: 70px;
  }
  &__carts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    margin-bottom: 70px;
  }
  svg {
    width: 22px;
    height: 22px;
  }
  .category-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: auto;
    background: $grey_light;
    border-radius: 10px;
    &:nth-child(-n + 2) {
      grid-column: span 3;
      .category-cart__img {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 308px;
      }
    }
    &:nth-child(n + 3) {
      grid-column: span 2;
      .category-cart__img {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 202px;
      }
    }
    &__nav {
      display: flex;
      margin-bottom: 10px;
    }
    &__item {
      margin-bottom: 4px;
      &:not(:last-child) {
        margin-right: 30px;
      }
      font-size: 14px;
      line-height: 100%;
      color: $grey;
    }
    &__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: $black;
      & svg {
        display: none;
      }
    }
    &__img {
      position: relative;
      left: -30px;
      & img {
        object-fit: contain;
        object-position: left center;
      }
    }
    &__link {
      margin-top: auto;
    }
  }
}

.useful {
  padding-bottom: 70px;
  &__swiper {
    overflow: hidden;
  }
  &__slide {
    border-radius: 10px;
    overflow: hidden;
  }
  .useful-slide {
    &__img {
      height: 426px;
    }
    &__description {
      display: flex;
      flex-direction: column;
      padding: 30px;
      min-height: 250px;
      background: $grey_light;
    }
    &__text {
      flex-grow: 1;
      font-size: 24px;
      line-height: 33px;
      color: $black;
    }
    &__btn {
      align-self: flex-start;
      padding: 19px 35px;
    }
  }
}

.welcome {
  padding-bottom: 71px;
  &__large {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
  }
  &__left {
    grid-column: span 6;
  }
  &__rigth {
    grid-column: span 6;
    display: flex;
    align-items: center;
  }
  &__img {
    width: 100%;
  }
  &__title {
    margin-bottom: 9px;
  }
  &__descr {
    position: relative;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 19px;
    color: $grey_shade;
  }
  &__svg {
    position: absolute;
    width: 14px;
    height: 14px;
    bottom: 2px;
    display: inline-flex;
    margin-left: 5px;

  }
  &__tooltips {
    position: relative;
    & .tooltip {
      transition-duration: 0.3s;
      opacity: 0;
      &__text,
      &__rect {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: $black;
      }
      &__text {
        bottom: calc(100% + 13px);
        padding: 5px;
        width: 157px;
        font-size: 9px;
        line-height: 14px;
        text-align: center;
        color: $white;
      }
      &__rect {
        bottom: calc(100% + 6px);
        width: 14px;
        height: 14px;
        transform-origin: center center;
        transform: translateX(-50%) rotate(45deg);
      }
    }
    &:hover .tooltip {
      opacity: 1;
    }
  }
}
