$primary: #A65CF0;
$primary_light: #C998FB;
$primary_shade: #7033AC;
$pink_violet: #EBD1FF;
$pink_light: #F8EFFF;
$secondary: #FF862F;
$secondary_light: #FFBD59;
$secondary_shade: #BB370E;
$red_input: #FF6972;
$green_input: #B8EC64;
$gold: #D5B986;
$white: #FFFFFF;
$grey_light: #F6F6F6;
$md_grey: #EAEAEA;
$grey: #999999;
$grey_shade: #666666;
$black: #333333;
$background20: rgba(0, 0, 0, 0.2);
$background30: rgba(0, 0, 0, 0.3);
$lime_color: #DAFFD1;
$bone: #FFF5D1;
$margin1920: 320px;
$margin1024: 36px;
$margin768: 72px;
$margin320: 12px;
